dist: xenial
addons:
  chrome: stable
language: node_js
node_js:
  - "10.15.2"

env:
  - TEST_BROWSER_HEADLESS=1

before_install:
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &

install:
  - yarn install --frozen-lockfile

script:
  - yarn lint
  - yarn test
  - yarn build

deploy:
  provider: releases
  api_key: $AUTH_TOKEN
  file_glob: true
  file: release/*
  skip_cleanup: true
  on:
    tags: true