<div ng-controller="keycloakNavController" ng-show="!!user">
    <global-nav-link
            kbn-route="user.accountUrl"
            icon="'plugins/keycloak-kibana/images/account.svg'"
            tooltip-content="tooltipContent(user.name)"
            title="user.name"
            label="user.name">
    </global-nav-link>
    <global-nav-link
            kbn-route="user.logoutUrl"
            icon="'plugins/keycloak-kibana/images/logout.svg'"
            tooltip-content="tooltipContent('Logout')"
            title="'Logout'"
            label="'Logout'">
    </global-nav-link>
</div>
